# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

**/.DS_Store
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
cover.*

# E2E test reports
e2e/reports/



# Dependency directories (remove the comment below to include it)
# vendor/

.gocache
.cache
# Go workspace file
go.work
go.work.sum


# env file
.env

# Editor/IDE
# .idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.cache/


temp_docs/
# Build output
bin/

infra/

rfcs/